<div class="modal-content"  >
	<div class="modal-header">
	  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
		<em class="ion-ios-close-empty sn-link-close"></em>
	  </button>
	  <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
					<label for="Orgname">Name of the organisation</label>
					<input type="text" class="form-control" id="Orgname" placeholder="Name of the organisation">
			</div>
			<div class="form-group">
				<label for="type">Industry Type</label>
				<input type="text" class="form-control" id="type" placeholder="type" >
			</div>
			<div class="form-group">
				<label for="name">Admin Name</label>
				<input type="text" class="form-control" id="name" placeholder="admin name">
			</div>			
			<div class="form-group">
			  <label for="address">Admin's Email Address</label>
			  <input type="email" class="form-control" id="address" placeholder="Email">
			</div>
			<div class="form-group">
			  <label for="exampleInputPassword1">Reset Password</label>
			  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<div class="form-group">
					<label for="sales">Sales Account</label>
					<input type="email" class="form-control" id="sales" placeholder="Account">
			</div>
			<!-- <div class="checkbox">
			  <label class="custom-checkbox">
				<input type="checkbox">
				<span>Check me out</span>
			  </label>
			</div> -->
			<button ng-if = "action == 'update' "  type="submit" class="btn btn-primary" ng-click="update()" >Update</button>
			<button ng-if = "action == 'add' "  type="submit" class="btn btn-primary" ng-click="add()" >Submit</button>
		  </form>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-primary" ng-click="$dismiss()">Save changes</button>
	</div>
  </div>
  