<head>
  <link rel = "stylesheet"
        href = "https://fonts.googleapis.com/css?family=Catamaran">
  <style>
    
    h1, h2, h3, h4, p {
      font-family: 'Catamaran', serif;
    }
    
    .table {
      display: table;
      width: 100%;
      table-layout: fixed;
      font-family: 'Catamaran', serif;
    }
    
    .table_cell {
      display: table-cell;
      width: 100px;
      font-family: 'Catamaran', serif;
      font-size: 12px;
    }
    
    .wow {
      font-size: 20px;
    }
    
    .omg {
      background: #43C6AC; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #191654, #43C6AC); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
    }
  
  </style>
</head>
<div class="modal-content" style = "width:350px">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">UPDATE CLIENT</h4>
  </div>
  
  <form name="linkForm" >
    <div class="modal-body" >
      <p>Name of Organisation</p>
      <div class="form-group" >
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
      
      <p>Industry Type</p>
      <div class="form-group" >
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
      
      <p>Admin Name</p>
      <div class="form-group" >
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
      
      <p>Admin's Email Address</p>
      <div class="form-group" >
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
      
      <p>Reset Password</p>
      <div class="form-group" >
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
      
      <p>Sales Account</p>
      <div class="form-group" >
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
    
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="ok(link)">Create</button>
    </div>
  </form>
</div>
