<html>
	<head>
		<link rel = "stylesheet"
		      href="https://fonts.googleapis.com/css?family=Catamaran">
		<style>
			
			h1, h2, h3, h4, p {
				font-family: 'Catamaran', serif;
				color: white;
			}
			
			.table {
				display: table;
				width: 100%;
				table-layout: fixed;
				font-family: 'Catamaran', serif;
				color: white;
			}
			
			.table_cell {
				display: table-cell;
				width: 100px;
				font-family: 'Catamaran', serif;
				font-size: 12px;
				color: white;
			}
			
			.wow{
				font-size: 20px;
			}
			
			.omg{
				background: #6d6d77;  /* fallback for old browsers */
			}
		
		</style>
	</head>
	
	<div class = "widgets">
		<div class = "row">
			<div class = "col-md-4"
			     ba-panel
				 ba-panel-class = "with-scroll omg"
				 ng-repeat="client in archivedClients" 
				 >
				<div >
					<h1> {{ client.company }} </h1>
					<h3> {{ client.domain }} </h3>
					<br>
					<div class = "table">
						<div align = "left" class = "table_cell">JOINED</div>
						<div align = "left" class = "table_cell">CAMPAIGNS</div>
						<div align = "left" class = "table_cell">USERS</div>
					</div>
					<div class = "table">
						<div align = "left" class = "table_cell wow">{{client.joined}}</div>
						<div align = "left" class = "table_cell wow">{{client.campaigns}}</div>
						<div align = "left" class = "table_cell wow">{{client.users}}</div>
					</div>
				</div>
			</div>
			<!-- <div class = "col-md-4"
			     ba-panel
			     ba-panel-class = "with-scroll omg">
				<div>
					<h1> Informatica</h1>
					<h3> Software</h3>
					<br>
					<div class = "table">
						<div align = "left" class = "table_cell">JOINED</div>
						<div align = "left" class = "table_cell">CAMPAIGNS</div>
						<div align = "left" class = "table_cell">USERS</div>
					</div>
					<div class = "table">
						<div align = "left" class = "table_cell wow">Jan 18</div>
						<div align = "left" class = "table_cell wow">2</div>
						<div align = "left" class = "table_cell wow">26</div>
					</div>
				</div>
			</div>
			<div class = "col-md-4"
			     ba-panel
			     ba-panel-class = "with-scroll omg">
				<div>
					<h1> Bajaj</h1>
					<h3> Motorcycles</h3>
					<br>
					<div class = "table">
						<div align = "left" class = "table_cell">JOINED</div>
						<div align = "left" class = "table_cell">CAMPAIGNS</div>
						<div align = "left" class = "table_cell">USERS</div>
					</div>
					<div class = "table">
						<div align = "left" class = "table_cell wow">Mar 18</div>
						<div align = "left" class = "table_cell wow">28</div>
						<div align = "left" class = "table_cell wow">998</div>
					</div>
				</div>
			</div> -->
		</div>
	
	</div>
</html>