<html>
	<head>
		<link rel = "stylesheet"
		      href = "https://fonts.googleapis.com/css?family=Catamaran">
		<style>
			
			h1, h2, h3, h4, p {
				font-family: 'Catamaran', serif;
			}
			
			.table {
				display: table;
				width: 100%;
				table-layout: fixed;
				font-family: 'Catamaran', serif;
			}
			
			.table_cell {
				display: table-cell;
				width: 100px;
				font-family: 'Catamaran', serif;
				font-size: 12px;
			}
			
			.wow {
				font-size: 20px;
			}
			
			.omg {
				background: #43C6AC; /* fallback for old browsers */
				background: -webkit-linear-gradient(to right, #191654, #43C6AC); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				
			}
		
		</style>
		
		<style>
			.app-fab--absolute.app-fab--absolute {
				position: fixed;
				bottom: 1rem;
				right: 1rem;
			}
			
			@media (min-width: 1024px) {
				.app-fab--absolute.app-fab--absolute {
					bottom: 2.5rem;
					right: 2.5rem;
				}
			}
		</style>
		
		<style type = "text/css">
			.topcorner1 {
				position: absolute;
				top: 5px;
				right: 65px;
			}
			
			.topcorner2 {
				position: absolute;
				top: 5px;
				right: 35px;
			}
			
			.topcorner3 {
				position: absolute;
				top: 5px;
				right: 5px;
			}
		</style>
	
	</head>
	
	<div class = "row">
		<div class = "col-md-6"
		     ba-panel
		     ba-panel-class = "with-scroll">
			<div>
				<h1> Identity Information</h1>
				<p>First Name</p>
				<div class = "form-group">
					<input type = "text"
					       class = "form-control"
					       placeholder = ""
					       ng-model = "link">
				</div>
				
				<p>Last Name</p>
				<div class = "form-group">
					<input type = "text"
					       class = "form-control"
					       placeholder = ""
					       ng-model = "link">
				</div>
			</div>
		</div>
		
		<div class = "col-md-6"
		     ba-panel
		     ba-panel-class = "with-scroll">
			<div>
				<h1> Account Information</h1>
				<p>Email Address</p>
				<div class = "form-group">
					<input type = "text"
					       class = "form-control"
					       placeholder = ""
					       ng-model = "link">
				</div>
				
				<p>Password</p>
				<div class = "form-group">
					<input type = "text"
					       class = "form-control"
					       placeholder = ""
					       ng-model = "link">
				</div>
			</div>
		</div>
	</div>
	
	<div class = "row">
		<div class = "col-md-6">
			<div ba-panel
			     ba-panel-class = "with-scroll">
				<h1>Grant/Revoke Access</h1>
				<div include-with-scope = "app/pages/tables/widgets/editableRowTable.html"></div>
			</div>
		</div>
	</div>
	
	<span class = "mdc-fab__icon mdc-fab app-fab--absolute">
	<img src = "/assets/pictures/updateProfile.png"
	     alt = "Smiley face"
	     height = "60"
	     width = "60">
  </span>
</html>
<!--<button type = "button"-->
<!--class = "btn btn-primary btn-with-icon save-profile">-->
<!--<i class = "ion-android-checkmark-circle"></i>-->
<!--Create Profile-->
<!--</button>-->

<!--<div ba-panel-->
<!--ba-panel-class = "profile-page">-->
<!--<div class = "panel-content">-->
<!---->
<!--<h3 class = "with-line">Admin Information</h3>-->
<!---->
<!---->
<!--</div>-->
<!--</div>-->
