<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">CREATE NEW CLIENT</h4>
  </div>
  
  <form name="linkForm">
    <div class="modal-body">
      <p>Name of Organisation</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
  
      <p>Organisation's Industry Type</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
  
      <p>Organisation's Admin Name</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
  
      <p>Organisation's Admin Email Address</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
  
      <p>Organisation's Admin's Password</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
  
      <p>Sales Account</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="" ng-model="link">
      </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="ok(link)">Save changes</button>
    </div>
  </form>
</div>
